@charset "UTF-8";
:root {
  /*---variables de color---*/
  --color-teal-1: #5CE0D8;
  --color-teal-2: #EEFCFB;
  --color-yellow-1: #FFCF43;
  --color-yellow-2: #FFF5D6;
  --color-blue: #0A89FF;
  --color-black: #050720;
  --color-white: #FFFFFF;
  /*---variables de tipografía---*/
  --font-lalezar: "Lalezar", cursive;
  --font-maitree: "Maitree", serif;
}

html {
  font-size: 62.5%;
  color: var(--color-black);
}

/*------------------------------------ MÁRGENES----------------------------------*/
body {
  padding: 1rem;
  max-width: 170rem;
  margin-top: 8.7rem;
  margin-left: auto;
  margin-right: auto;
}

main {
  max-width: 124rem;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 620px) {
  body {
    padding: 3rem;
  }
}
@media only screen and (min-width: 830px) {
  body {
    padding: 6rem;
  }
}
@media only screen and (min-width: 1038px) {
  body {
    padding-left: 10rem;
    padding-right: 10rem;
  }
}
/*-------------------------------------------HEADERS------------------------------------------*/
h1,
.h1 {
  font-size: 3.6rem;
  font-family: "Lalezar", cursive;
  font-weight: 400;
}

@media only screen and (min-width: 613px) {
  h1,
.h1 {
    font-size: 5.4rem;
  }
}
@media only screen and (min-width: 960px) {
  h1,
.h1 {
    font-size: 6.4rem;
  }
}
@media only screen and (min-width: 1275px) {
  h1,
.h1 {
    font-size: 8.2rem;
  }
}
h2,
.h2 {
  font-size: 3.2rem;
  font-family: "Lalezar", cursive;
  font-weight: 400;
}

@media only screen and (min-width: 613px) {
  h2,
.h2 {
    font-size: 4.8rem;
  }
}
@media only screen and (min-width: 950px) {
  h2,
.h2 {
    font-size: 5.4rem;
  }
}
@media only screen and (min-width: 1004px) {
  h2,
.h2 {
    font-size: 6.4rem;
  }
}
h3,
.h3 {
  font-size: 3rem;
  font-family: "Lalezar", cursive;
  font-weight: 400;
}

@media only screen and (min-width: 1004px) {
  h3,
.h3 {
    font-size: 3.2rem;
  }
}
h4,
.h4 {
  font-size: 1.8rem;
  font-family: "Maitree", serif;
  font-weight: 400;
}

@media only screen and (min-width: 613px) {
  h4,
.h4 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 950px) {
  h4,
.h4 {
    font-size: 2.4rem;
  }
}
@media only screen and (min-width: 1140px) {
  h4,
.h4 {
    font-size: 3rem;
  }
}
h5,
.h5 {
  font-size: 1.6rem;
  font-family: "Maitree", serif;
  font-weight: 400;
}

@media only screen and (min-width: 950px) {
  h5,
.h5 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1004px) {
  h5,
.h5 {
    font-size: 2.4rem;
  }
}
h6,
.h6 {
  font-size: 1.6rem;
}

/*--------------------SUBTÍTULOS----------------*/
.subtitle {
  padding-right: 32%;
}

/*---------------------Títulos de la sección  de descripcion de las apps-----------------*/
.features__title {
  font-size: 4.8rem;
  font-family: "Lalezar", cursive;
  color: var(--color-teal-1);
}

@media only screen and (min-width: 600px) {
  .features__title {
    font-size: 8.8rem;
  }
}
@media only screen and (min-width: 950px) {
  .features__title {
    font-size: 12.8rem;
  }
}
/*-----------------------------------------------------------*/
p {
  font-size: 1.6rem;
  font-family: "Maitree", serif;
}

@media only screen and (min-width: 950px) {
  p {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1004px) {
  p {
    font-size: 2.4rem;
  }
}
/*-------------------TOPBAR--------------------*/
.topbar {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2rem 2rem;
  position: fixed;
  inset: 0 0 auto 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: none;
  list-style: none;
  position: absolute;
  right: 0;
  width: 10vw;
  margin-top: 10px;
}

.nav__item {
  position: relative;
  padding: 20px 40px;
  background-color: var(--color-teal-2);
  border: solid 2px green;
}

/*------------------------INTRO AMARILLA---------------------*/
.card-intro {
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 8%;
  padding-right: 8%;
  background-color: var(--color-yellow-1);
}
.card-intro__title {
  line-height: 130%;
}
.card-intro__subitle {
  line-height: 170%;
}

/*----------------------------CARACTERÍSTICAS ----------------------*/
.features {
  margin-left: auto;
  margin-right: auto;
}
.features__title {
  text-align: right;
  margin-right: 50%;
  margin-bottom: -0.5rem;
  line-height: 0;
}
.features__text-bg {
  background-color: var(--color-teal-2);
  padding: 30px;
  margin-left: 10%;
}

@media only screen and (min-width: 400px) {
  .features__text-bg {
    margin-left: 20%;
  }
}
@media only screen and (min-width: 600px) {
  .features__text-bg {
    margin-left: 25%;
  }
}
@media only screen and (min-width: 950px) {
  .features__text-bg {
    margin-left: 35%;
  }
}
/*---------------------CALL TO ACTION---------------------------*/
.cta {
  background-color: var(--color-yellow-2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 4% 16%;
  margin: 4.8rem 0;
}

/*---------------------OPINIONES------------------------*/
.opinions {
  background-color: var(--color-yellow-2);
  text-align: center;
  text-align: center;
  padding: 4% 4%;
  margin: 4.8rem 0;
}

.opinions__samples {
  margin: 4rem;
}

@media only screen and (min-width: 830px) {
  .opinions__samples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 4rem;
  }
}
@media only screen and (min-width: 1040px) {
  .cta,
.opinions {
    margin: 10rem 0;
  }
}
.topbar__logo--bicolor {
  width: 130px;
  height: 44px;
}

.topbar__burger-icon {
  width: 36px;
  height: 24px;
}

@media only screen and (min-width: 1040px) {
  .topbar__logo--bicolor {
    width: 200px;
    height: 52px;
  }
}
@media only screen and (min-width: 1500px) {
  .topbar__logo--bicolor {
    width: 260px;
    height: 69px;
  }
}
.logo--amarillo {
  width: 143px;
  height: 39.1px;
}

@media only screen and (min-width: 830px) {
  .logo--amarillo {
    width: 285px;
    height: 95px;
  }
}
@media only screen and (min-width: 1140px) {
  .logo--amarillo {
    width: 395px;
    height: 133px;
  }
}
.logo__cta--negro {
  width: 310px;
  height: 130px;
  margin: 16px;
}

/*-------------IMÁGENES OPINIONES -------------*/
.opinions__samples__img {
  width: 18rem;
  height: 18rem;
  border-radius: 50%;
  background-color: silver;
}

/*-----------------------ICONOS--------------------*/
.link-arrow {
  width: 15px;
  height: 15px;
}

.rrss__icon {
  width: 30px;
  height: 30px;
  margin: 0 2px;
}
.rrss__icon:hover {
  width: 32px;
  height: 32px;
}

@media only screen and (min-width: 620px) {
  .rrss__icon {
    width: 40px;
    height: 40px;
  }
  .rrss__icon:hover {
    width: 42px;
    height: 42px;
  }
}
@media only screen and (min-width: 1275px) {
  .rrss__icon {
    width: 50px;
    height: 50px;
  }
  .rrss__iconn:hover {
    width: 52px;
    height: 52px;
  }
}
.nav__item-link,
.legal__link {
  text-decoration: none;
  color: var(--color-black);
  font-family: var(--font-maitree);
  font-size: 1.6rem;
}

.legal__link:hover {
  font-weight: bold;
}

.link {
  font-family: var(--font-maitree);
  font-size: 2rem;
  color: var(--color-blue);
}
.link:hover .link-arrow {
  opacity: 100%;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.link-arrow {
  -webkit-transform: translateX(-30%);
          transform: translateX(-30%);
  opacity: 0;
  -webkit-transition-delay: 0;
          transition-delay: 0;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

/*-------------------GOOGLE PLAY-------------------*/
.button__google {
  width: 207px;
  height: 80px;
}

/*-------------------BOTÓN FOOTER-----------------*/
.footer__button {
  width: 92px;
  height: 45px;
  border: none;
  text-decoration: none;
  border-radius: 8px;
  background-color: var(--color-yellow-1);
}
.footer__button .footer__button__text {
  color: var(--color-black);
  font-family: var(--font-lalezar);
  margin: 0;
}
.footer__button a {
  text-decoration: none;
}

@media only screen and (min-width: 820px) {
  .footer__button {
    width: 154px;
    height: 67px;
  }
}
.prefooter,
.social-legal {
  padding: 2% 4%;
  text-align: center;
  background-color: var(--color-yellow-1);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1%;
  padding: 2% 2%;
  background-color: var(--color-black);
}
.footer-right, .footer-left {
  text-align: center;
}
.footer__text--left-align {
  text-align: left;
}

@media only screen and (min-width: 620px) {
  .prefooter {
    padding: 2% 16%;
  }
  .footer {
    padding: 4.8rem;
  }
  .footer-right,
.footer-left {
    padding: 2% 8%;
  }
  .social-legal {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media only screen and (min-width: 1275px) {
  .prefooter {
    padding: 2% 24%;
  }
  .footer {
    padding: 10rem;
  }
  .footer-right,
.footer-left {
    padding: 2% 12%;
  }
}
.footer__text--white {
  color: var(--color-white);
}

.footer__text--teal {
  color: var(--color-teal-1);
  margin: 0.5em 0;
}

.cta__text {
  color: var(--color-teal-1);
  margin: 16px 0;
}