
.button {
    
    &--form {
    /*--------------BOTÓN FORMULARIO------------*/

        display: flex;
        flex-direction: row;
        justify-content: center;

        height: 45px;
        padding: 0 2em;
        margin: 1.5em;

        border: none;
        border-radius: 8px;

        font-family: var(--font-lalezar);
        letter-spacing: 1px;
        background-color: var(--color-teal-1);
        color:var(--color-teal-2);

        &:hover {
            background-color: var(--color-teal-2);
            color: var(--color-teal-1);
            border: var(--color-teal-1) 0.3rem solid;
        }
    }

    &--footer {
    /*--------------BOTÓN SUSCRIPCIÓN FOOTER------------*/

        display: flex;
        flex-direction: row;
        justify-content: center;

        height: 45px;
        padding: 0 2em;
        margin: 1.5em;

        border: none;
        border-radius: 8px;

        font-family: var(--font-lalezar);
        letter-spacing: 1px;
        background-color: var(--color-yellow-1);
        color:var(--color-black);

        &:hover {
            background-color: var(--color-yellow-2);
            color: var(--color-black);
            border: var(--color-yellow-2) 0.3rem solid;
            }
    }
}
