/*------------------------INTRO AMARILLA---------------------*/

.card-intro {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 8%;
    padding-right: 8%;
    background-color: var(--color-yellow-1);

        &__title {
        line-height: 130%;
    }
        &__subitle {
        line-height: 170%;
    }
}


/*---------------------CALL TO ACTION---------------------------*/

.cta {
    background-color: var(--color-yellow-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4% 16%;
    margin: 4.8rem 0;
}

/*---------------------SUMARY-CARDS--------------------------*/




.catalog-cards {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 4.8rem 0;
}

@media only screen and (min-width: 620px) {
        .catalog-cards {
            flex-direction: row;
            margin: 10rem 0;
        }
    }


.summary-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 2em;
    border: solid 1px var(--color-black);
}

.summary-card__text {
    text-align: left;
}

/*---------------------OPINIONES------------------------*/

.opinions {
    background-color: var(--color-yellow-2);
    text-align: center;
    text-align: center;
    padding: 4% 4%;
    margin: 4.8rem 0;
}

.opinions__samples {
    margin: 4rem;
}

@media only screen and (min-width: 830px) {
    .opinions__samples {
        display: flex;
        gap: 4rem;
    }
}


@media only screen and (min-width:1040px ) {
    .cta,
    .opinions {
        margin: 10rem 0;
    }
}

