/*------------------------INTRO AMARILLA---------------------*/

.card-intro {
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 8%;
    padding-right: 8%;
    background-color: var(--color-yellow-1);

        &__title {
        line-height: 130%;
    }
        &__subitle {
        line-height: 170%;
    }
}
/*----------------------------CARACTERÍSTICAS ----------------------*/

.features {
    margin-left: auto;
    margin-right: auto;
  
        &__title {
        text-align: right;
        margin-right: 50%;
        margin-bottom: -0.5rem;
        line-height: 0;
    }

        &__text-bg {
        background-color: var(--color-teal-2);
        padding: 30px; 
        margin-left: 10%;
    }
}


  @media only screen and (min-width: 400px) {
    .features__text-bg {
        margin-left: 20%;
    }
  }

  @media only screen and (min-width: 600px) {
    .features__text-bg {
        margin-left: 25%;
    }
  }

  @media only screen and (min-width: 950px) {
    .features__text-bg {
        margin-left: 35%;
    }
  }

/*---------------------CALL TO ACTION---------------------------*/

.cta {
    background-color: var(--color-yellow-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4% 16%;
    margin: 4.8rem 0;
}


/*---------------------OPINIONES------------------------*/

.opinions {
    background-color: var(--color-yellow-2);
    text-align: center;
    text-align: center;
    padding: 4% 4%;
    margin: 4.8rem 0;
}

.opinions__samples {
    margin: 4rem;
}

@media only screen and (min-width: 830px) {
    .opinions__samples {
        display: flex;
        gap: 4rem;
    }
}


@media only screen and (min-width:1040px ) {
    .cta,
    .opinions {
        margin: 10rem 0;
    }
}

