:root {
    /*---variables de color---*/

    --color-teal-1:       #5CE0D8;
    --color-teal-2:       #EEFCFB;
    --color-teal-3:       #23beb3;
    --color-yellow-1:     #FFCF43;
    --color-yellow-2:     #FFF5D6;
    --color-blue:         #0A89FF;
    --color-black:        #050720;
    --color-grey:         #d6d6d6;
    --color-white:        #FFFFFF;


    /*---variables de tipografía---*/

    --font-lalezar: 'Lalezar', cursive;
    --font-maitree: 'Maitree', serif;
}