:root {
    --color-teal-1: #5CE0D8;
    --color-teal-3: #EEFCFB;
    --color-yellow-1: #FFCF43;
    --color-yellow-2: #FFF5D6;
    --color-blue: #0A89FF;
    --color-black: #050720;
    --color-white: #FFFFFF;
}