
.prefooter,
.footer-links {
    padding: 4% 4%;
    text-align: center;
    background-color: var(--color-yellow-1);
}


.footer {
    display: flex;
    justify-content: space-around;
    gap: 1%;
    padding: 8% 2%;
    background-color: var(--color-black);

    &__right,
    &__left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50%;
    }

    &__contact-link {
        text-decoration: none;
        color: var(--color-teal-1);
        margin: .5em 0;
    }
}



@media only screen and (min-width: 620px) {
    .prefooter {
        padding: 2% 16%;
    }

    .footer {
        padding: 4.8rem
    }

    .footer__left,
    .footer__right {
        width: 50%;
    }

    .footer-links {
        display: flex;
        justify-content: space-between;
        padding: 2% 4%;
    }
}

@media only screen and (min-width:1275px) {
    .prefooter {
        padding: 2% 24%;
    }

    .footer {
        padding: 10rem
    }

}