
/*------------------FORMULARIO DE CONTACTO--------------*/
form {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--color-teal-1);
}


.contact {
    padding: 4em;
    margin-bottom: 10rem;
    background-color: var(--color-teal-2);
}

label {
    margin: 0 1em;
}

input[type="text"],
input[type="email"],
textarea {
    height: 3em;
    margin: 1em;
    font-family: var(--font-maitree);
    font-size: 1.6rem;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid var(--color-teal-1);
    background-color: var(--color-teal-2); 

    &:focus {
        border-radius: 5px;
        outline: none;
        border-bottom: 2px solid var(--color-teal-1);
    }

    /*-------------INPUT SUSCRIPCIÓN NEWSLETTER------------*/
    
    &.input--footer {
        height: 2em;
        width: 80%;
        border-bottom: 2px solid var(--color-yellow-1);
        background-color: var(--color-black); 
        color: var(--color-white);
    }
}


@media only screen and (min-width: 612px) {
    input[type="text"],
    input[type="email"],
    textarea {
        width: 80%;
    }
}



