/*--------MEDIA QUERIES-------*/
$bp-xxs:    28.1rem;  //450px - extra-extra-small
$bp-xs:     38.7rem;  //620px - estra small
$bp-s:      45.3rem;  //725px - small
$bp-sm:     51.8rem;  //830px - samall-medium
$bp-m:      59.3rem;  //950px - medium
$bp-lm:     62.7rem;  //1004px - meedium-large
$bp-l:      65rem;    //1040px - large
$bp-xl:     71.2rem;  //1140px - extra-large
$bp-xxl:    80rem;    //1275px - extra-extra-large

@mixin mq ($bp) {
  @media only screen and (min-width: $bp) {
      @content; 
  }
}


/*------------------FORMULARIO DE CONTACTO--------------*/
form {
    display: flex;
    flex-direction: column;
    text-align: left;
    color: var(--color-teal-1);
}


.contact {
    padding: 4em;
    margin-bottom: 10rem;
    background-color: var(--color-teal-2);
}

label {
    margin: 0 1em;
}

input[type="text"],
input[type="email"],
textarea {
    height: 3em;
    margin: 1em;
    font-family: var(--font-maitree);
    font-size: 1.6rem;
    border-radius: 5px;
    border: none;
    border-bottom: 2px solid var(--color-teal-1);
    background-color: var(--color-teal-2); 

    @include mq ($bp-xs) {
        width: 80%;
    }

    &:focus {
        border-radius: 5px;
        outline: none;
        border-bottom: 2px solid var(--color-teal-1);
    }

    /*-------------INPUT SUSCRIPCIÓN NEWSLETTER------------*/
    
    &.input--footer {
        height: 2em;
        width: 80%;
        border-bottom: 2px solid var(--color-yellow-1);
        background-color: var(--color-black); 
        color: var(--color-white);
    }
}




