//--------------------IMÁGENES NAV------------------//

.topbar__logo--bicolor {
    width: 130px;
    height: 44px;
}

.topbar__burger-icon {
    width: 36px;
    height: 24px;
}

@media only screen and (min-width: 1040px) {
    .topbar__logo--bicolor {
        width: 200px;
        height: 52px;
    }
}

@media only screen and (min-width: 1500px) {
    .topbar__logo--bicolor {
        width: 260px;
        height: 69px;
    }
}

//------------------IMÁGENES FOOTER----------//

.logo--amarillo {
    width: 143px;
    height: 39.1px;
}

@media only screen and (min-width: 830px) {
    .logo--amarillo {
        width: 285px;
        height: 95px;
    }
}

@media only screen and (min-width: 1140px) {
    .logo--amarillo {
        width: 395px;
        height: 133px;
    }
}

.logo__cta--negro {
    width: 310px;
    height: 130px;
    margin: 16px;
}

/*-------------IMÁGENES OPINIONES -------------*/

.opinions__samples__img {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background-color: silver;
}

/*---------------------IMÁGENES PRODUCTO--------------*/
/*----Mockups---*/

.product-mockup {
    width: 30px;
    height: 96px;
    
}

/*-----------------------ICONOS--------------------*/

.link-arrow {
    width: 15px;
    height: 15px;
}

.rrss__icon {
    width: 30px;
    height: 30px;
    margin: 0 2px;

    &:hover {
        width: 32px;
        height: 32px;
    }
}
