//--------------------IMÁGENES NAV------------------//

.topbar__logo--bicolor {
    width: 13rem;
    height: 4.4rem;
}

.topbar__burger-icon {
    width: 3.6rem;
    height: 2.4rem;
}

@media only screen and (min-width: 1040px) {
    .topbar__logo--bicolor {
        width: 20rem;
        height: 5.2rem;
    }
}

@media only screen and (min-width: 1500px) {
    .topbar__logo--bicolor {
        width: 26rem;
        height: 6.9rem;
    }
}
/*-------------IMAGEN BOTÓN GOOGLE PLAY-------------*/

.button--google {
    width: 153px;
}

@media only screen and (min-width: 820px) {
    .button__google {
        width: 207px;
        height: 80px;
    }
}

//------------------IMÁGENES FOOTER----------//

.logo--amarillo {
    width: 14.3rem;
    height: 3.91rem;
}

@media only screen and (min-width: 830px) {
    .logo--amarillo {
        width: 28.5rem;
        height: 9.5rem;
    }
}

@media only screen and (min-width: 1140px) {
    .logo--amarillo {
        width: 39.5rem;
        height: 13.3rem;
    }
}

.logo__cta--negro {
    width: 31rem;
    height: 13rem;
    margin: 1.6rem;
}

/*-------------IMÁGENES OPINIONES -------------*/

.opinions__samples__img {
    width: 18rem;
    height: 18rem;
    border-radius: 50%;
    background-color: silver;
}

/*---------------------IMÁGENES PRODUCTO--------------*/
/*----Mockups---*/

.mockup {
    width: 100%;
    height: auto;
    margin: 1em 0;
}


/*-----------------IMÁGENES ENTRADAS BLOG---------------*/

.single__image {
    width: 100%;
    height: auto;
    margin: 3rem 0;
}

/*-----------------------ICONOS--------------------*/

.link-arrow {
    margin: -.5rem;
    margin-left: .5rem;
    width: 2.5rem;
    height: 2.5rem;
}

.rrss__icon {
    width: 3rem;
    height: 3rem;
    margin: 0 .2rem;

    &:hover {
        width: 3.2rem;
        height: 3.2rem;
    }
}

.profile__icon {
    width: 9.9rem;
    height: 9.5rem;
}