
/*--------MEDIA QUERIES-------*/
$bp-xxs:    28.1rem;  //450px - extra-extra-small
$bp-xs:     38.7rem;  //620px - estra small
$bp-s:      45.3rem;  //725px - small
$bp-sm:     51.8rem;  //830px - samall-medium
$bp-m:      59.3rem;  //950px - medium
$bp-lm:     62.7rem;  //1004px - meedium-large
$bp-l:      65rem;    //1040px - large
$bp-xl:     71.2rem;  //1140px - extra-large
$bp-xxl:    80rem;    //1275px - extra-extra-large

@mixin mq ($bp) {
  @media only screen and (min-width: $bp) {
      @content; 
  }
}


img {
    max-width: 100%;
    height: auto;
}

//--------------------IMÁGENES NAV-------------------//

.topbar__logo--bicolor {
    width: 13rem;

    @include mq ($bp-l) {
        width: 20rem;
    }

    @include mq ($bp-xxl) {
        width: 26rem;
    }
}

.topbar__burger-icon {
    width: 3.6rem;
}



/*-------------IMAGEN BOTÓN GOOGLE PLAY-------------*/

.button--google {
    width: 15.3rem;

    @include mq ($bp-sm) {
        width: 20.7rem;
    }
}



//------------------IMÁGENES FOOTER----------//

.logo--yellow {
    width: 14.3rem;

    @include mq ($bp-sm) {
        width: 28.5rem;
    }

    @include mq ($bp-xl) {
        width: 39.5rem;
    }
}


.cta__logo--black {
    width: 31rem;
    margin: 1.6rem;
}

/*-------------IMÁGENES OPINIONES -------------*/

.opinions__samples__img {
    width: 15rem;
    height: 15rem;
    
}

.img--avatar {
    border-radius: 50%;
}

/*---------------------IMÁGENES PRODUCTO--------------*/
/*----Mockups---*/

.mockup {
    margin: 1em 0; 
}


/*-----------------IMÁGENES ENTRADAS BLOG---------------*/

.blog-single__image {
    margin: 3rem 0;

    &--big {
        max-width: 75rem;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }
}

/*-----------------------ICONOS--------------------*/

.link-arrow {
    margin: -.5rem;
    margin-left: .5rem;
    width: 2.5rem;
    height: 2.5rem;
}

.footer-links__icon {
    width: 3rem;
    margin: 0 .2rem;

    &:hover {
        width: 3.2rem;
    }
}

.profile__icon {
    width: 9.9rem;
    height: 9.5rem; //no quitar
}


/*------------------------404----------------------*/

.card-404__image {
    width: 20rem;
}