.menu__item-link {
    text-decoration: none;
    color: var(--color-white);
    font-family: var(--font-lalezar);

        &:hover {
            font-style: italic;
        }
}


.link-arrow {
    transform: translateX(-30%); //no muevo el bloque, el bloque se queda donde está porque no modifica el entorno, pero sí modifico el cómo se ve en pantalla//
    opacity: 0; //para que parezca q no está//
    transition-delay: 0;
    transition-duration: 0.4s;
    transition-property: opacity, transform;
    transition-timing-function: ease-out;
  }


.link {
    text-decoration: none;
    font-family: var(--font-maitree);
    font-size: 2rem;
    color: var(--color-blue);
    margin: 1em 0;

    &:hover {
        .link-arrow {
            opacity: 100%;
            transform: translateX(0);
        }
    }
}


.footer__contact-link {
    text-decoration: none;
    color: var(--color-teal-1);
    margin: .5em 0;
}


.legal__link {
    text-decoration: none;
    color: var(--color-black);
    font-family: var(--font-maitree);
    font-size: 1.6rem;
}


.legal__link:hover {
    font-weight: bold;
}


.link-priv {
    color: var(--color-teal-1);
    font-family: var(--font-maitree);
    font-size: 1.6rem;
}

