.nav__item-link {
    text-decoration: none;
    color: var(--color-black);
    font-family: var(--font-maitree);
    font-size: 1.6rem;
}

.link {
    font-family: var(--font-maitree);
    font-size: 2rem;
    color: var(--color-blue);
}

.cta__link {
    color: var(--color-teal-1);
    margin: 16px 0;
}

