.product {
    margin: 9em 2em 12em 2em;
}

.product__links {
    display:flex;
    flex-direction: column;
    text-align: center;
}

.product__nexos--reverse {
    display: flex;
    flex-direction: column-reverse;
}


/*-- Aparición/desaparición del título según resolución--*/


.title-hidden-desktop {
    display: none;
}

.links-visible1275px {
    display: none;
}

@media only screen and (min-width: 725px) {
    .product__secuencial,
    .product__nexos--reverse {
        display: flex;
        flex-direction: row;
        gap: 6%;
    }

    .product__mockup,
    .product__text {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
    }

    .product__mockup {
        flex-direction: row;
    }

    .title-hidden-mobile {
        display: none;
    }

    .title-hidden-desktop {
        display: block;
        margin: 0;
    }
}

@media only screen and (min-width: 1275px) {
    .links-visible1275px {
        display: flex;
        flex-direction: column;
    }

    .links-hiden1275px {
        display: none;
    }
}