html {
    font-size: 62.5%;
    color: var(--color-black);
  }
 


/*------------------------------------ MÁRGENES----------------------------------*/

body {
  max-width: 170rem;
  margin-top: 8.7rem;
  margin-bottom: 0;;
  margin-left: auto;
  margin-right: auto;
}


main {
  padding: 0 1rem;
  max-width: 124rem;
  margin-left: auto;
  margin-right: auto;
}

  @media only screen and (min-width: 620px) {
    body {
      padding: 3rem 3rem 0 3rem;
    }
  }

  @media only screen and (min-width: 830px) {
    body {
      padding: 6rem 6rem 0 6rem;
    }
  }

  @media only screen and (min-width: 1038px) {
    body {
      padding-left: 10rem;
      padding-right: 10rem;
    }
  }