/*--------MEDIA QUERIES-------*/
$bp-xxs:    28.1rem;  //450px - extra-extra-small
$bp-xs:     38.7rem;  //620px - estra small
$bp-s:      45.3rem;  //725px - small
$bp-sm:     51.8rem;  //830px - samall-medium
$bp-m:      59.3rem;  //950px - medium
$bp-lm:     62.7rem;  //1004px - meedium-large
$bp-l:      65rem;    //1040px - large
$bp-xl:     71.2rem;  //1140px - extra-large
$bp-xxl:    80rem;    //1275px - extra-extra-large

@mixin mq ($bp) {
  @media only screen and (min-width: $bp) {
      @content; 
  }
}



html {
    font-size: 62.5%;
    color: var(--color-black);
  }
 

/*------------------- MÁRGENES-----------------*/

body {
  max-width: 170rem;
  margin-top: 9.5rem;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}


main {
  padding: 0 1rem;
  max-width: 124rem;
  margin-left: auto;
  margin-right: auto;

      @include mq ($bp-xs) {
        padding: 3rem 3rem 0 3rem;
      }

      @include mq ($bp-sm) {
        padding: 6rem 6rem 0 6rem;
      }

      @include mq ($bp-xl) {
        padding: 0 10rem;
      }
}

