/*-------------------TOPBAR--------------------*/
.topbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 2rem 2rem;
    position: fixed;
    inset: 0 0 auto 0;
    align-items: center;
}


.menu {
    display: flex;
    list-style: none;
    position: absolute;
    right: 0;
    margin: 20px;
    flex-direction: column;
    gap: 1px;
  }
  
.menu__item {
    position: relative;
    padding: 20px 40px;
    background-color: var(--color-teal-2);
    // border: solid 2px green;
  }
  
.hide {
  display: none;
}