/*--------MEDIA QUERIES-------*/
$bp-xxs:    28.1rem;  //450px - extra-extra-small
$bp-xs:     38.7rem;  //620px - estra small
$bp-s:      45.3rem;  //725px - small
$bp-sm:     51.8rem;  //830px - samall-medium
$bp-m:      59.3rem;  //950px - medium
$bp-lm:     62.7rem;  //1004px - meedium-large
$bp-l:      65rem;    //1040px - large
$bp-xl:     71.2rem;  //1140px - extra-large
$bp-xxl:    80rem;    //1275px - extra-extra-large

@mixin mq ($bp) {
  @media only screen and (min-width: $bp) {
      @content; 
  }
}

/*-------------------TOPBAR--------------------*/

.topbar {
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 2rem 4rem;
    position: fixed;
    inset: 0 0 auto 0;
    align-items: center;
    z-index: 1;

      &__burger-icon {
        @include mq ($bp-l) {
          display: none;
        }
      }
}

.menu {
  display: none;
  text-decoration: none;
  gap: 3em;

    @include mq ($bp-l) {
      display: flex;
      gap: 3em
    }

    &__item {
      list-style: none;
    }

    &__item-link {
      text-decoration: none;
      color: var(--color-black);
    }

    &__item-link:hover {
      font-style: italic;
    }
}


.burger-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    justify-content: center;
    list-style: none;
    margin: 2.5rem 0;
    right: 0;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-yellow-1);
    opacity: .97;

    &__item-link {
      text-decoration: none;
      color: var(--color-white);
      font-family: var(--font-lalezar);

      &:hover {
          font-style: italic;
      }
    }
  }
  
.hide {
  display: none;
}
