/*---------------------Títulos de la sección  de descripcion de las apps-----------------*/

.article__title {
    font-size: 48px;
    font-family: 'Lalezar', cursive;
    color: var(--color-teal-1);
}

      @media only screen and (min-width:600px) {
        .article__title--supersize {
          font-size: 88px;
        }
      }

      @media only screen and (min-width:950px) {
        .article__title--supersize {
          font-size: 128px;
        }      
      }

p {
    font-size: 1.6rem;
    font-family: 'Maitree', serif;
  }
  
      @media only screen and (min-width: 950px) {
        p {
          font-size: 2rem;
        }
      }
  
      @media only screen and (min-width: 1004px) {
        p {
          font-size: 2.4rem;
        }
      }