

.footer__text--white {
    color: var(--color-white);
    text-align: center;
}

.footer__text--teal {
    color: var(--color-teal-1);
    margin: .5em 0;
}

.cta__text--black {
    color: var(--color-black);
    margin: 16px 0;
}

.cta__text--teal {
    color: var(--color-teal-1);
    margin: 16px 0;
}

.title-product {
    text-align: center;
}
